body {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  overflow-x: auto;
  overflow-y: hidden;
}

body>* {
  flex-shrink: 0;
  min-height: -webkit-fill-available;
}

html,
body {
  margin: 0px;
  height: 100%;
}

.b-example-divider {
  width: 1.5rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.bi {
  vertical-align: -0.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle {
  outline: 0;
}

.nav-dropdown {
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}
.nav-dropdown .active {
  padding: .5rem 2rem;
}

.sub-nav {
  padding: .5rem 2rem;
}

.nav-flush .nav-link, .nav-dropdown {
  border-radius: 0;
}

.nav-link, .nav-dropdown {
  cursor: pointer;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold {
  font-weight: 600;
}

.lh-tight {
  line-height: 1.25;
}

.inactivo {
  display: none;
}

.dash-cont{
  overflow: scroll;
  height: 95vh;
}